<div class="root">
  <div class="scroll-container">

    <div class="login-container">
			<div class="content">

				<div class="login-content">

          <div>

          </div>

					<div class="login-title">
            <app-titulo [titulo]="title"></app-titulo>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="form-row text-danger text-center validations" [class.d-none]="status !== 'failure'">
              <div>{{ loginError }}</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Usuário</label>
              <input type="text" formControlName="username" class="form-control" id="usernamelogin" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" formControlName="password" class="form-control" id="passwordlogin" placeholder="Password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Lembrar usuário</label>
            </div>

            <button type="submit" class="btn"
              [class.btn-primary]="status === ''"
              [class.btn-danger]="status === 'failure'"
              [class.btn-success]="status === 'success'"
            >
              Submit
            </button>
          </form>

				</div>
				<div class="copyright-content">
					Copyright
				</div>

      </div>
    </div>

  </div>
</div>
