.bg {
  background-image: url(../login/Images/login-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  height : 100vh;
}

.login-title{
  padding: 5rem 0 3rem;
}

.login-container{
  position: relative;
  justify-content: center;
}

// .form-check-label{
//   font-weight: bolder;
// }
