@import '/src/app/shared/styles/variables-login';

@import '/src/app/shared/styles/background';
@import '/src/app/shared/styles/workarounds/scroll-container';

.login-container {
	display: flex;
	height: 100%;
	margin: $container-margin;
	align-items: center;
	justify-content: center;
}

.content {
	width: $content-width;
	border-radius: $content-radius;

	.login-content {
		min-height: $content-height;
		padding: $content-padding;
		border-radius: $content-radius;

		@include background($background-color, $background-alpha, $blur: 0.75rem);


    .login-title{
      font-family: cursive;
      font-weight: bolder;
      color: $home-fore-color;
      padding: 0 0 1rem;
    }

    .form-check-label{
      color: $home-fore-color;
    }
	}

	.copyright-content {
		margin-top: -10px;
		padding: 0.6rem 0.5rem 0.2rem 0.5rem;
		font-weight: 500;
		font-size: 0.9rem;
		border-bottom-left-radius: $content-radius;
		border-bottom-right-radius: $content-radius;
	}
}
